@charset "UTF-8";

:root {
    --fundo-principal: #F5F5F5;
    --texto: #222222;
    --texto-inverso: #FFF;
    --destaque: #0077FF;
    --destaque-inverso: #66BBFF;
    --fundo-card: #FFF;
}

/* ESTILIZAÇÃO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

header {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    background-color: var(--destaque);
    color: var(--texto);
    padding: 10px;
}

#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

#menu ul a {
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
    transition: .3s;
}

#menu ul a:hover {
    background-color: var(--destaque-inverso);
    color: var(--texto-inverso);
}

main {
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    gap: 20px;
    margin-top: 20px;
}

section#ficha {
    background-color: var(--fundo-card);
    padding: 20px;
    border-radius: 8px;

    grid-column: 2;
}

section#ficha img {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--fundo-card);
    outline: 5px solid var(--destaque);
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

section#ficha h1 {
    color: var(--destaque);
    margin: 15px 0;
    font-size: 1.5em;
    text-align: left;
}

#social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 1.5em;
    margin: 15px;
}

#social a {
    text-decoration: none;
    color: var(--destaque);
    transition: color .3s;
}

#social a:hover {
    color: var(--destaque-inverso);
}