@charset "UTF-8";

:root {
    --fundo-principal: #F5F5F5;
    --texto: #222222;
    --texto-inverso: #FFF;
    --destaque: #0077FF;
    --destaque-inverso: #66BBFF;
    --fundo-card: #FFF;
}

/* ESTILIZAÇÃO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

header {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    background-color: var(--destaque);
    color: var(--texto);
    padding: 10px;
}

#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

#menu ul a {
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
    transition: .3s;
}

#menu ul a:hover {
    background-color: var(--destaque-inverso);
    color: var(--texto-inverso);
}