@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --lilas: #9a0e58;
    --roxo: #7a0562;
    --fundo: #fdf1f9; 
}


/* ESTILIZAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.interface {
    max-width: 1280px;
    padding: 0 6%;
    margin: 0 auto;
}

h1 {
    font-family: "Playfair Display", serif;
}





/* TOP BAR */
.top-bar {
    display: none;
    align-items: center;
    justify-content: space-between;

    background-color: #8b0e51;
}

.top-bar .contato {
    display: flex;
    gap: 40px;
    margin-left: 60px;
}

.top-bar .item-contact {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.top-bar .item-contact .icone {
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 10px;

    background-color: #fdf1f9;
    color: #9a0e58;
}

.top-bar .item-contact p {
    color: #fdf1f9;
}

.top-bar .botoes {
    display: flex;
    align-items: center;
    gap: 30px;
}

.top-bar .botoes .social-media a {
    text-decoration: none;
}

.top-bar .botoes .social-media button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin: 0 10px;
    color: #fdf1f9;
}

.top-bar .botoes .btn-portifolio {
    background-color: #9a0e58;
    border: none;
    padding: 12px 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.top-bar .botoes .btn-portifolio:hover {
    background-color: #000;
}





/* HEADER */
header {
    z-index: 999;
    position: fixed;
    width: 100%;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 6%;
}

header .logo img {
    max-width: 100px;
}

header .menu-desktop nav a {
    position: relative;
    text-decoration: none;
    color: #fff;
    margin: 20px;
    transition: .3s;
}

header .menu-desktop nav a:hover {
    color: #fff;
}





/* HOME */
.home {
    position: relative;
    background: url('../imagens/banner-home.jpg') no-repeat center;
    background-size: cover;
    height: 100dvh;
}

.home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000008f;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.home .interface {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.home .txt-home {
    position: relative;
    z-index: 11;
    color: #fff;
}

.home .txt-home h1 {
    font-size: 3em;
}