@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --branco: #fdfcf8;
    --creme: #E2DDD3;
    --red: #BA3B38;
    --dark-red: #9F2D2F;
    --preto: #1F2326;
}


/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    background-color: var(--creme);
}

section {
    padding: 70px 8%;
}

.interface {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
}

h1 {
    color: #9F2D2F;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 30px;
}


/* CABEÇALHO */
header {
    padding: 20px 30px;
}

header .flex {
    justify-content: right;
    align-items: center;
}

header .flex div {
    display: flex;
}

header .menu-desktop {
    display: none;
}

header .menu-mobile {
    position: absolute;
    top: 0;
    right: -210px;

    display: flex;
    flex-direction: column;

    width: 210px;
    height: 100vh;
    background-color: #1F2326;
    transition: .5s;
}

header .menu-mobile .icone-close {
    background-color: transparent;
    color: #E2DDD3;
    font-size: 30px;
    margin: 30px 35px;
    width: 30px;
    cursor: pointer;
}

header .menu-mobile a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    color: #E2DDD3;
    font-weight: 500;
    margin: 15px 0px;
    transition: .3s;
}

header .menu-mobile a:hover {
    color: #BA3B38;
}

header .botoes {
    display: flex;
    align-items: center;
    gap: 25px;
}

header .botoes .icone-menu {
    font-size: 30px;
    cursor: pointer;
}

header .botoes .btn-social {
    text-decoration: none;
    color: #1F2326;
    font-size: 22px;
    transition: .3s;
}

header .botoes .btn-social:hover {
    color: #9F2D2F;
}


/* INÍCIO */
section.home {
    padding: 0px;
    height: 30vh;
}

.home .banner {
    background-image: url('../imagens/banner-home-melhorado.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


/* QUEM SOMOS */
section.sobre .textos .flex {
    flex-direction: column;
    gap: 30px;
}

section.sobre .box-sobre {
    padding: 40px 30px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    transition: .3s;
}

.sobre .box-sobre:hover {
    box-shadow: 0px 0px 10px #1f23267a;
    transform: scale(1.020);
}

.sobre .box-sobre .icone {
    margin-bottom: 20px;
}

.sobre .box-sobre .icone i {
    font-size: 48px;
}

.sobre .box-sobre .txt h2 { 
    text-transform: uppercase;
    font-size: 23px;
}

.sobre .box-sobre .txt p {
    margin-top: 15px;
    margin-bottom: 35px;
    line-height: 1.6;
    font-size: 17px;
    font-weight: lighter;
}

.sobre .box-sobre .txt a {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #BA3B38;
    border: 2px solid #BA3B38;
    color: #E2DDD3;
    text-transform: uppercase;
    font-size: 15px;
    transition: .3s;
    display: inline-block;
}

.sobre .box-sobre .txt a:hover {
    background-color: transparent;
    color: #1F2326;
    transform: scale(1.050);
}

/* DIRETORIAS */
.sobre .diretorias .slider {
    display: flex;
    gap: 30px;
    align-items: center;
    width: max-content;
    overflow: hidden;
}

.sobre .diretorias .slider .box-diretoria {
    width: 55vw;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #BA3B38;
}

.sobre .diretorias .slider .box-diretoria .icone {
    width: 100px;
    height: 100px;
    background-color: #1F2326;
    border-radius: 50%;
    margin: auto;
}

.sobre .diretorias .slider .box-diretoria h2 {
    margin: 20px 0px;
    text-transform: uppercase;
    font-size: 23px;
    background-color: #BA3B38;
}

.sobre .diretorias .slider .box-diretoria p {
    background-color: #BA3B38;
}

/* NOTÍCIAS */
section.noticias .container .box-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border-bottom: 1px solid #1f232657;
    padding: 30px 0px;
}

.noticias .container .box-news img {
    border-radius: 5px;
    max-width: 100%;
}

.noticias .container .box-news h2 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 5px;
}

.noticias .container .box-news .data {
    font-size: 14px;
    color: #1f232673;
}