@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --branco: #fdfcf8;
    --creme: #E2DDD3;
    --red: #BA3B38;
    --dark-red: #9F2D2F;
    --preto: #1F2326;
}


/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    background-color: var(--creme);
}

section {
    padding: 70px 8%;
}

.interface {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
}

h1 {
    color: #9F2D2F;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
}


/* CABEÇALHO */
header {
    padding: 15px 25px;
}

header .flex {
    justify-content: space-between;
    align-items: center;
}

header .flex div {
    display: flex;
}

header .logo a {
    text-decoration: none;
    color: #1F2326;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
}

header .menu-desktop {
    display: none;
}

header .menu-mobile {
    display: none;
}

header .botoes {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .botoes .icone-menu {
    font-size: 30px;
    cursor: pointer;
}

header .botoes .btn-social {
    text-decoration: none;
    color: #1F2326;
    font-size: 20px;
    transition: .3s;
}

header .botoes .btn-social:hover {
    color: #9F2D2F;
}


/* INÍCIO */
section.home {
    padding: 0px;
}

.home .banner img {
    width: 100vw;
}


/* NOTÍCIAS */
section.noticias .container .box-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border-bottom: 1px solid #1f232657;
    padding: 30px 10px;
}

.noticias .container .box-news img {
    border-radius: 5px;
    max-width: 400px;
}

.noticias .container .box-news h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 5px;
}

.noticias .container .box-news .data {
    font-size: 14px;
    color: #1f232673;
}


/* SOBRE */
section.sobre .flex {
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.sobre img {
    width: 300px;
}

.sobre p {
    text-align: center;
    margin: 20px 0px;
}