@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --branco: #fdfcf8;
    --creme: #E8DCD0;
    --red: #821A19;
    --rosa: #9A2E2E;
    --preto: #10161d;
}


/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: var(--branco);
}

section {
    padding: 70px 8%;
}

.interface {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
}

h1 {
    color: #821A19;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}


/* CABEÇALHO */
header {
    padding: 15px 25px;
}

header .flex {
    justify-content: space-between;
    align-items: center;
}

header .flex div {
    display: flex;
}

header .logo {
    width: 50px;    
}

header .menu-desktop {
    display: none;
}

header .menu-mobile {
    display: none;
}

header .botoes {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .botoes .icone-menu {
    font-size: 30px;
    cursor: pointer;
}

header .botoes .btn-social {
    text-decoration: none;
    color: #10161d;
    font-size: 20px;
    transition: .3s;
}

header .botoes .btn-social:hover {
    color: #821A19;
}


/* INÍCIO */
.inicio .flex {
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 30px;
    width: 80%;
}

.inicio .txt {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    text-align: center;
}

.inicio .txt .main-title {
    text-transform: capitalize;
    font-size: 35px;
}

.inicio .txt p {
    font-size: 20px;
    font-weight: 300;
}


.inicio .txt a {
    border-radius: 5px;
    padding: 10px 25px;
    margin: auto;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: #9A2E2E;
    color: white;
    transition: .3s;
}

.inicio .txt a:hover {
    background-color: #821A19;
}

.inicio img {
    max-width: 100%;
}