@charset "UTF-8";
@font-face {
    font-family:'Open Sans';
    src: url('fonte/OpenSans-VariableFont_wdth\,wght.ttf');
    font-weight: 600;
}

:root {
    --azul-escuro: #033E8C;
    --azul-claro: #044D8C;
    --laranja-escuro: #F27329;
    --laranja-claro: #F2811D;
    --branco: #F2F2F2;
}

/* ESTILIZAÇÃO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

.interface {
    max-width: 1300px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* CABEÇALHO */
header {

}