@charset "UTF-8";

@media screen and (min-width: 998px) and (max-width: 1440px) {
    /* HOME */
    section#home {
        .txt {
            #titulo-principal {
                font-size: 70px;
            }

            p {
                font-size: 14px;
                letter-spacing: 10px;
            }
        }
    }

    /* CARDÁPIO */
    section#menu .container {
        flex-direction: column;
    }

    section#menu .container .box p {
        width: 400px;
        margin: auto;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 998px) { 
    /* CABEÇALHO */
    header {
        nav.menu-desktop {
            display: none;
        }

        #icone-menu {
            display: block;
        }
    }

    /* HOME */
    section#home {
        h1#titulo-principal {
            font-size: 50px;
        }

        p {
            font-size: 14px;
            letter-spacing: 4px;
        }
    }

    /* CARDÁPIO */
    section#menu {
        .container {
            flex-direction: column;
        }

        .box {
            margin-bottom: 50px;
        }
    }

    /* GALERIA DE FOTOS */
    section#photos {
        img {
            width: 360px;
            height: 230px;
        }   
    }

    /* FALE CONOSCO */
    section#contact {
        .container {
            flex-direction: column;

            .formulario form input, #msg {
                width: 350px;
            }
        }
    }

    /* RODAPÉ */
    footer {
        flex-direction: column;
        gap: 10px;
    }
}