@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --verde: #5A7348;
    --branco: #EBE6E4;
    --marrom: #7A6756;
    --rosa: #A66363;
}

/* ESTILIZAÇÃO GERAL */
* {
    font-family: "Space Mono", monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--branco);
}

.interface {
    margin: auto;
    max-width: 1250px;
    padding: 80px 10%;
}

.flex {
    display: flex;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h1 span.destaque {
    color: var(--rosa);
}


/* CABEÇALHO */
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    background-color: #ebe6e4a4;
}

header nav.menu-desktop {
    display: none;
}

header nav.menu-mobile {
    display: none;
}

header nav.menu-mobile a {
    text-decoration: none;
    color: black;
}


/* INÍCIO */
section#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

section#inicio .txt h1 {
    line-height: 35px;
}

section#inicio .curriculo {
    margin: 60px 0px;
}

.btn-curriculo {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 0.8em;
    border: 1px solid var(--rosa);
    background-color: var(--branco);
    cursor: pointer;
    transition: all .3s;
}

.btn-curriculo:hover {
    background-color: var(--rosa);
}

.btn-curriculo a {
    text-decoration: none;
    color: black;
}

.social .btn-social {
    padding: 10px 15px;
    border: none;
    background-color: var(--branco);
    font-size: 1.5em;
    cursor: pointer;
}

.social .btn-social:hover a {
    color: var(--rosa);
}

.social .btn-social a {
    text-decoration: none;
    color: black;
    transition: all .3s;
}

/* SOBRE */
section#sobre .flex {
    margin-top: 30px;
    flex-direction: column-reverse;
    text-align: center;
}

section#sobre .imagem img {
    width: 90%;
    border-radius: 15px;
}

section#sobre .txt {
    margin-top: 35px;
}

/* SERVIÇOS */

section#servicos .container {
    margin-top: 40px;
    width: 100%;
}

section#servicos .container .line {
    display: flex;
}

.container article {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 140%;

    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    width: 50%;
    height: 30vh;
    background-color: var(--branco);
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
}

.container article:hover {
    background-color: #7a6756b4;
}

.container article .txt {
    z-index: 999;
}

.container article .txt h2 {
    font-family: "Source Sans", sans-serif;
    font-size: 1.3em;
    line-height: 15px;
    letter-spacing: 0;
    color: var(--branco);
    border-bottom: 2px solid var(--branco);
    padding-bottom: 15px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container article .txt p {
    font-family: "Source Sans", sans-serif;
    margin-top: 15px;
    color: var(--branco);
    text-transform: uppercase;
    font-size: 0.7em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container article .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    transition: all .5s;
}

.container article:hover .overlay {
    opacity: 0.3;
}