@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --verde: #5A7348;
    --branco: #EBE6E4;
    --marrom: #7A6756;
    --rosa: #A66363;
}

/* ESTILIZAÇÃO GERAL */
* {
    font-family: "Space Mono", monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--branco);
}

.interface {
    margin: auto;
    max-width: 1250px;
    padding: 80px 10%;
}

.flex {
    display: flex;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h1 span.destaque, h2 span.destaque, h3 span.destaque {
    color: var(--rosa);
}


/* CABEÇALHO */
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100vw;
    padding: 10px 50px;
    cursor: pointer;
}

header nav.menu-desktop {
    display: none;
}

header #icone-menu {
    font-size: 2em;
}

header nav.menu-mobile {
    display: none;
}

header nav.menu-mobile a {
    text-decoration: none;
    color: black;
}


/* INÍCIO */
section#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

section#inicio .txt h1 {
    line-height: 35px;
}

section#inicio .curriculo {
    margin: 60px 0px;
}

.btn-curriculo {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 0.8em;
    border: 1px solid var(--rosa);
    background-color: var(--branco);
    cursor: pointer;
    transition: all .3s;
}

.btn-curriculo:hover {
    background-color: var(--rosa);
}

.btn-curriculo a {
    text-decoration: none;
    color: black;
}

.social .btn-social {
    padding: 10px 15px;
    border: none;
    background-color: var(--branco);
    font-size: 1.5em;
    cursor: pointer;
}

.social .btn-social:hover a {
    color: var(--rosa);
}

.social .btn-social a {
    text-decoration: none;
    color: black;
    transition: all .3s;
}

/* VANTAGENS */
section#vantagens .interface {
    padding: 80px 0%;
}

#vantagens .itens-container {
    display: flex;
    align-items: center;
    height: 60vh;
    padding: 0px 10%;
}

#vantagens .itens-container .txt h3 {
    margin-bottom: 20px;
    font-size: 2em;
    line-height: 35px;
}


/* SOBRE */
section#sobre .flex {
    margin-top: 30px;
    flex-direction: column-reverse;
    text-align: center;
}

section#sobre .imagem img {
    max-width: 350px;
    border-radius: 10px;
    filter: brightness(0.7);
}

section#sobre .txt {
    margin-top: 30px;
    font-size: 15px;
}

section#sobre .txt p {
    margin-bottom: 20px;
}

/* SERVIÇOS */
section#servicos .flex {
    flex-direction: column;
}

#servicos .box {
    border: 2px solid #ccbebe;
    border-radius: 15px;
    margin: 50px auto 0px auto;
    padding: 40px;
    width: 350px;
    height: 350px;
}

#servicos .box .icon {
    text-align: center;
}

#servicos .box .icon i {
    font-size: 5em;
    color: #ccbebe;
}

#servicos .box .txt h2 {
    line-height: 25px;
    font-size: 1.3em;
    margin-bottom: 10px;
}


/* CONTATO */
section#contato {
    height: 100vh;
    display: flex;
    align-items: center;
}

section#contato .flex {
    margin-top: 50px;
    flex-direction: column;
    text-align: center;
}

section#contato .informacoes {
    border-bottom: 1px solid #ccbebe;
}

section#contato .informacoes ul {
    list-style: none;
}

section#contato .informacoes ul li {
    margin-bottom: 50px;
    font-size: 1.1em;
}

section#contato .informacoes ul li a {
    text-decoration: none;
    color: black;
}

section#contato .informacoes ul li a:hover {
    text-decoration: underline;
}

section#contato .social {
    margin-top: 50px;
}

/* RODAPÉ */
footer .interface {
    margin-top: 50px;
    padding: 20px 10%;
}

footer p {
    text-align: center;
    font-size: 0.8em;
    margin: 5px;
}

footer p a {
    text-decoration: none;
    color: black;
}

footer p a:hover {
    text-decoration: underline;
}