@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --verde: #5A7348;
    --branco: #EBE6E4;
    --marrom: #7A6756;
    --rosa: #A66363;
}

/* ESTILIZAÇÃO GERAL */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--branco);
}

.interface {
    margin: auto;
    max-width: 1250px;
    padding: 80px 10%;
}

.flex {
    display: flex;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h1 span.destaque, h2 span.destaque, h3 span.destaque {
    color: var(--rosa);
}

.social .btn-social {
    padding: 10px 15px;
    border: none;
    background-color: var(--branco);
    font-size: 1.5em;
    cursor: pointer;
}

a {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
}


/* CABEÇALHO */
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100vw;
    padding: 10px 50px;
}

header nav.menu-desktop {
    display: none;
}

header #icone-menu {
    font-size: 2em;
    cursor: pointer;
}

header nav.menu-mobile {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100vh;
    text-align: center;
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.95);
    overflow: hidden;
    transition: all .5s;
}

header nav.menu-mobile a {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    transition: .3s;
}

header nav.menu-mobile a:hover, .menu-mobile a:focus-within {
    color: #A66363;
}

header nav.menu-mobile .social {
    margin-top: 30px;
}

header nav.menu-mobile .btn-social {
    background-color: transparent;
    padding: 10px 5px;
}

/* INÍCIO */
section#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

section#inicio .txt h1 {
    font-size: 2.1em;
    line-height: 35px;
}

section#inicio .txt p {
    margin-top: 15px;
    font-size: 0.68em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
}

section#inicio .botao {
    margin: 60px 0px;
}

.btn-contato {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 0.8em;
    text-transform: uppercase;
    border: 1px solid var(--rosa);
    background-color: var(--branco);
    cursor: pointer;
    transition: all .3s;
}

.btn-contato:hover {
    background-color: var(--rosa);
}

.btn-contato:hover a {
    color: white;
}

.btn-contato a {
    text-decoration: none;
    color: black;
    transition: all .3s;
}

#inicio .social .btn-social {
    display: none;
    padding: 10px 15px;
    border: none;
    background-color: var(--branco);
    font-size: 1.5em;
    cursor: pointer;
}

.social .btn-social:hover a {
    color: var(--rosa);
}

.social .btn-social a {
    text-decoration: none;
    color: black;
    transition: all .3s;
}

/* VANTAGENS */
#vantagens {
    padding: 50px 0;
}

#vantagens .interface {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

#vantagens .itens-container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 45%;
    height: 250px;
    margin: 15px 0;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff4f;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#vantagens .itens-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#vantagens .txt h3 {
    font-size: 1em;
    color: #333333;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#vantagens .txt h3 .destaque {
    color: #A66363;
}

#vantagens .txt p {
    margin: auto;
    font-size: 15px;
    color: #666666;
    line-height: 1.5;
}

@media (max-width: 768px) {
    #vantagens .itens-container {
        width: 100%;
    }
}

/* SOBRE */
section#sobre .flex {
    margin-top: 30px;
    flex-direction: column-reverse;
    text-align: center;
}

section#sobre .imagem {
    margin: auto;
    max-width: 350px;
    height: 350px;
    border-radius: 10px;
    filter: brightness(0.7);
    overflow: hidden;
    z-index: -1;
}

section#sobre .imagem img {
    max-width: 400px;
    height: 400px;
}

section#sobre .txt {
    margin-top: 30px;
    font-size: 15px;
}

section#sobre .txt p {
    margin-bottom: 20px;
}

.btn-ler {
    border: 1px solid #A66363;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #EBE6E4;
    cursor: pointer;
    transition: all .3s;
}

.btn-ler:hover {
    background-color: #A66363;
    color: white;
}

.escondido {
    display: none;
}

/* SERVIÇOS */
section#servicos .flex {
    flex-direction: column;
}

#servicos .box {
    border: 2px solid #ccbebe;
    border-radius: 15px;
    margin: 50px auto 0px auto;
    padding: 40px;
    width: 350px;
    height: 350px;
}

#servicos .box .icon {
    text-align: center;
}

#servicos .box .icon i {
    font-size: 5em;
    color: #ccbebe;
}

#servicos .box .txt h2 {
    line-height: 25px;
    font-size: 1.3em;
    margin-bottom: 10px;
}


/* CONTATO */
section#contato {
    height: 100vh;
    display: flex;
    align-items: center;
}

section#contato .flex {
    margin-top: 50px;
    flex-direction: column;
    text-align: center;
}

section#contato .informacoes {
    border-bottom: 1px solid #ccbebe;
}

section#contato .informacoes ul {
    list-style: none;
}

section#contato .informacoes ul li {
    margin-bottom: 50px;
    font-size: 1.1em;
}

section#contato .informacoes ul li a {
    text-decoration: none;
    color: black;
}

section#contato .informacoes ul li a:hover {
    text-decoration: underline;
}

section#contato .social {
    margin-top: 50px;
}

/* RODAPÉ */
footer .interface {
    margin-top: 50px;
    padding: 20px 10%;
}

footer p {
    text-align: center;
    font-size: 0.8em;
    margin: 5px;
}

footer p a {
    text-decoration: none;
    color: black;
}

footer p a:hover {
    text-decoration: underline;
}