@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* ESTILIZAÇÃO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

button, div, a {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 6%;
}

section {
    padding: 120px 0;
}

.intro-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
}

.intro-section p {
    font-weight: 300;
}

h2 {
    font-weight: 300;
    font-size: 2em;
}

h2 span {
    font-weight: 700;
}




/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 10px;
    background-color: transparent;
    z-index: 999;
    transition: .5s;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    width: 60px;
}

header .btn-menu {
    cursor: pointer;
    z-index: 9999;
}

header .btn-menu div {
    position: relative;
    margin: 10px 0;
    height: 3px;
    background-color: #fff;
    transition: .2s;
}

header .btn-menu .line1 {
    width: 30px;
}

header .btn-menu .line1.ativo1 {
    transform: rotate(45deg) translate(30%);
    background-color: #000;
}

header .btn-menu .line2 {
    width: 20px;
}

header .btn-menu .line2.ativo2 {
    width: 30px;
    transform: rotate(-45deg) translate(30%);
    background-color: #000;
}

header .menu-desktop {
    display: none;
}

header .menu-desktop nav a {
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

header .menu-desktop nav a:hover {
    transform: scale(1.05);
}

header .menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: .5s;

    display: flex;
    align-items: center;
    justify-content: center;
}

header .menu-mobile.abrir {
    height: 100%;
}

header .menu-mobile nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin: 15px 0;
    font-size: 20px;
    transition: .3s;
}

header .menu-mobile nav a:hover {
    transform: scale(1.1);
}




/* HEADER DINÂMICO */
header.scroll {
    padding: 20px 10px;
    background-color: #fff;
    box-shadow: 0 0 10px #00000040;
}

header.scroll .btn-menu div {
    background-color: #000;
}

header.scroll .menu-desktop nav a {
    color: #000;
}




/* HOME */
section.home {
    position: relative;
    height: 98vh;
    background: #fff url('../imagens/banner-home.jpeg') no-repeat center;
    background-size: cover;
    box-shadow: 0 0 10px #000;
}

.home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 1;
}

.home .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.home .txt-home {
    color: #fff;
    z-index: 2;
}

.home .txt-home h1 {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 45px;
}

.home .txt-home h1 span {
    font-weight: 800;
}

.home .txt-home p {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 300;
}




/* QUEM SOMOS */
section.quem-somos {
    background-color: #F8F9FA;
}

.quem-somos .container-about .box-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    margin: 30px 0;
    height: 250px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px #00000020 ;
}

.quem-somos .box-about i {
    font-size: 2.5em;
    opacity: 0.9;
}

.quem-somos .box-about h3 {
    margin: 5px 0;
    font-size: 1.2em;
    font-weight: 300;
}

.quem-somos .box-about h3 span {
    font-weight: 700;
}

.quem-somos .box-about p {
    font-size: 14px;
    opacity: 0.8;
}




/* DIRETORIAS */
section.diretorias {
    background-color: #f2f2f2;
}

.diretorias .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.diretorias .box-diret {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 40px;
    margin-bottom: 10px;
    max-width: 320px;
    height: 400px;
    border-radius: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px #00000020;
}

.diretorias .box-diret img {
    margin-bottom: 20px;
    width: 100px;
}

.diretorias .box-diret p {
    margin: 15px 0;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
}

.diretorias .box-diret button {
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #000;
    cursor: pointer;

}

.diretorias .box-diret button:hover {
    border-bottom: 3px solid #000;
}




/* INTEGRANTES */
section.integrantes {
    padding-bottom: 0;
}

.integrantes .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0 0 0;
}

.integrantes .perfil {
    position: relative;
    width: 50%;
    cursor: pointer;
    overflow: hidden;
}

.integrantes .perfil .foto {
    width: 100%;
    height: 100%;
}

.integrantes .perfil .info {
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    color: #fff;
    text-align: center;
    transition: .5s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.integrantes .perfil:hover .info {
    top: 0;
}

.integrantes .perfil .nome {
    font-size: 16px;
    line-height: 20px;
}

.integrantes .perfil .funcao-p {
    font-size: 14px;
    font-weight: 500;
}

.integrantes .perfil .funcao {
    margin-top: 5px;
    line-height: 15px;
    font-size: 14px;
    font-weight: 300;
}

.integrantes .perfil .funcao span {
    display: block;
    font-style: italic;
    font-weight: 100;
}

.integrantes .perfil .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #000;
    opacity: 0;
    z-index: 1;
    transition: .5s;

    display: flex;
    align-items: end;
}

.integrantes .perfil:hover .overlay {
    opacity: 0.7;
}




/* EVENTOS */
section.eventos {
    background-color: #F8F9FA;
}

.eventos .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.eventos .box-evento {
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px #00000030;
    border-radius: 30px;
    margin-bottom: 60px;
    overflow: hidden;
    transition: .5s;
}

.eventos .box-evento .capa img {
    width: 100%;
}

.eventos .box-evento .info {
    padding: 30px 40px;
}

.eventos .box-evento .info h3 {
    font-size: 1.3em;
}

.eventos .box-evento .info p {
    margin: 15px 0;
    font-weight: 300;
    font-size: 16px;
}

.eventos .box-evento .info button {
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;
}

.eventos .box-evento .info button:hover {
    opacity: 0.7;
}




/* FALE CONOSCO */
section.fale-conosco .box-contato {
    display: flex;
    align-items: center;
    gap: 30px;

    padding: 40px 0;
    border-bottom: 1px solid #000000cb;
}

.fale-conosco .box-contato .icone i {
    font-size: 3em;
    color: #000000da;
}

.fale-conosco .box-contato .info p {
    margin: 10px 0;
    font-weight: 300;
    line-height: 22px;
}

.fale-conosco .box-contato .info button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.fale-conosco .box-contato .info button:hover {
    opacity: 0.7;
}




/* RODAPÉ */
footer {
    padding: 40px 30px;
    background-color: #f2f2f2;
    color: #000;
    text-align: center;
}

footer p {
    font-weight: 300;
    font-size: 14px;
}

footer p a {
    color: #000;
}

footer p a:hover {
    text-decoration: none;
}

footer .copyright {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}




/* MODAIS */
.fundo-modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000a8;
    height: 100vh;
    width: 100vw;
    transition: .5s;
    z-index: 99999;
    overflow: hidden;
    backdrop-filter: blur(5px);
    
    display: none;
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 10px #00000075;
    padding: 80px 40px 80px 40px;
    width: 350px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.modal h4 {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 10px;
}

.modal h4 span {
    font-weight: 700;
}

.modal .fechar-modal {
    position: absolute;
    top: 10px;
    right: 25px;
    background-color: transparent;
    font-weight: 200;
    font-size: 3em;
    cursor: pointer;
    border: none;
    transition: .3s;
}

.modal .fechar-modal:hover {
    opacity: 0.7;
}

.modal .intro-modal {
    text-align: center;
    margin-bottom: 50px;
}

.modal .intro-modal .logo img {
    display: block;
    max-width: 100px;
    margin: 0 auto;
}

.modal .intro-modal h3 {
    font-size: 1.3em;
    margin: 15px 0;
}

.modal .intro-modal p {
    font-weight: 300;
}

.modal .integ {
    margin-bottom: 60px;
}

.modal .integ .perfil {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 20px 0;
    border-bottom: 1px solid #000;
}

.modal .integ .perfil .foto img {
    width: 100px;
    border-radius: 100px;
}

.modal .integ .perfil .info .nome {
    font-weight: 600;
    line-height: 25px;
}

.modal .integ .perfil .info .funcao {
    font-weight: 300;
    line-height: 15px;
}

.modal .atuacao ul {
    list-style-type: none;
}

.modal .atuacao ul li {
    font-weight: 300;
    margin: 5px 0;
}

.modal .atuacao ul li i {
    font-size: 1.5em;
}

.modal .links {
    margin-top: 60px;
}

.modal .links a {
    text-decoration: none;
}

.modal .links button {
    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    width: 100%;

    font-size: 16px;
    background-color: #202020;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.modal .links button:hover {
    opacity: 0.8;
    gap: 15px;
}

.modal .links button i {
    font-size: 1.5em;
}




/* PÁGINAS EVENTOS */
.header-evento {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;

    background-color: #fff;
    box-shadow: 0 0 10px #00000030;
}

.header-evento .btn-voltar a {
    text-decoration: none;
}

.header-evento .btn-voltar button {
    display: flex;
    gap: 10px;
    padding: 5px 15px;

    font-size: 16px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

.header-evento .btn-voltar button:hover {
    background-color: #00000020;
}

section.hero-evento {
    background-color: #F8F9FA;
}

section.hero-evento .interface {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero-evento .info-evento {
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 5px #00000020;
    background-color: #fff;
}

.hero-evento .info-evento .title-evento {
    font-weight: 600;
    font-size: 1.5em;
}

.hero-evento .info-evento .desc {
    font-weight: 300;
    margin: 20px 0;
    font-size: 14px;
}

.hero-evento .info-evento .subinfo {
    margin: 5px 0;
    display: flex;
    gap: 10px;

    font-size: 14px;
    font-weight: 300;
}

.hero-evento .info-evento button {
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 15px;

    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.hero-evento .info-evento button:hover {
    opacity: 0.8;
}

.hero-evento .capa-evento img {
    border-radius: 20px;
    max-width: 100%;
}

.descricao h3 {
    font-size: 1.4em;
    font-weight: 700;
}

.descricao h3 span {
    font-weight: 300;
}

.descricao p {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 300;
}

.descricao .title-inscricao {
    margin-top: 50px;
}

.descricao p.valor {
    font-size: 1em;
    font-weight: 600;
    line-height: 20px;
}

.descricao p.valor .gratis {
    color: darkgreen;
    font-weight: 300;
}

.descricao .btn-inscricao {
    padding: 5px 10px;
    border: 1px solid #000;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

.descricao .btn-inscricao:hover {
    background-color: #00000020;
}