@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    /* CORES */
    --laranja: #FF8200;
    --preto: #3C3B3B;
    --fundo-cardapio: #F9F9F9;
    --fundo-galeria: white;
    --fundo-contato: #3C3B3B;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: lightgray;
} 

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1000;
}

header img {
    width: 170px;
    height: 100px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li a {
    padding: 42px 15px;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color: black;
}

header ul li a:hover {
    background-color: var(--preto);
    color: white;
}

section h1 {
    text-transform: uppercase;
    text-align: center;
    color: var(--preto);
    font-size: 32px;
}

h1#titulo-principal {
    text-shadow: 2px 1px 5px #535353;
    font-size: 92px;
    font-weight: bold;
    color: white;
}

.container-divs {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 50px;
}

.texto {
    color: white;
    font-size: 16px;
}

section#inicio {
    display: flex;
    justify-content: center;
    align-items: center;

    background: white url('../imagens/banner-home.jpg') center center no-repeat local;
    background-size: cover;
    height: 100vh;
}

section#inicio h2 {
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 19px;
    font-weight: 400;
    color: white;
}

section#cardapio {
    padding: 4rem;
    background-color: var(--fundo-cardapio);
}

.caixa-cardapio {
    text-align: center;
    padding: 0rem;
}

.img {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.texto-cardapio {
    margin-top: 20px;
}

.texto-cardapio h1 {
    margin-bottom: 40px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    color: var(--laranja);
}

.texto-cardapio p {
    width: 400px;
    color: var(--preto);
    font-weight: lighter;
    text-align: justify center;
}

div#carnes {
    background: white url('../imagens/img-carnes.jpg') center center no-repeat local;
    background-size: cover;
}

div#sobremesas {
    background: white url('../imagens/img-sobremesas.jpg') center center no-repeat local;
    background-size: cover;
}

div#bebidas {
    background: white url('../imagens/img-bebidas.jpg') center center no-repeat local;
    background-size: cover;
}

section#galeria {
    padding: 4rem;
    background-color: var(--fundo-galeria);
    text-align: center;
}

.container-imgs {
    margin-top: 40px;
}

.img-galeria {
    border-radius: 5px;
    width: 284px;
    height: 189px;
    margin: 10px;
}

section#contato {
    padding: 4rem;
    background-color: var(--fundo-contato);
    color: white;
}

section#contato h1 {
    color: white;
}

.container-divs-contato {
    display: flex;
    margin-top: 40px;
    margin-left: 80px;
}

form input {
    border-radius: 5px;
    width: 500px;
    margin: 8px;
    padding: 1rem;

    color: #757575;
    font-size: 18px;
    border: none;
}

form input:focus {
    border: 2px solid var(--laranja);
    color: var(--laranja);
    outline: none;
}

form input#submit {
    border-radius: 3px;
    margin-top: 15px;
    width: 150px;

    background-color: white;
    font-size: 18px;
}

form input#submit:hover {
    transition: all 0.5s;
    background-color: var(--laranja);
    color: white;
    cursor: pointer;
}

div#info {
    margin-left: 50px;
    color: #6A6969;
}

div#info ul {
    list-style: none;
}

div#info ul li {
    margin-bottom: 5px;
}

div#icones {
    margin-top: 30px;
}

div#icones a {
    border-radius: 50%;
    margin-right: 6px;
    padding: 10px 15px;

    background-color: var(--laranja);
    color: white;
}

div#icones a:hover {
    background-color: white;
    border: 3px solid var(--laranja);
    color: var(--laranja);
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 9rem;
    background-color: white;
    color: var(--preto);
}

footer p {
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: var(--preto);
}

footer a:hover {
    text-decoration: underline;
    color: var(--laranja);
}