@charset "UTF-8";

@media screen and (max-width: 1000px) {

    /* HEADER */
    header .menu-desktop {
        display: none;
    }

    header .redes-sociais {
        display: none;
    }

    header .btn-menu {
        display: block;
    }





    /* HOME */
    .home .txt-home h1 {
        font-size: 3em;
        line-height: 60px;
        font-weight: 300;
    }

    .home .txt-home h2 {
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 25px;
    }





    /* SOBRE NÓS */
    .sobre .container {
        flex-direction: column;
    }





    /* SEÇÃO CALL TO ACTION */
    .call-action h2 {
        font-size: 2em;
        line-height: 45px;
    }

    .call-action h2 span {
        font-weight: 500;
    }

    .call-action p {
        font-size: 18px;
        line-height: 1.6;
    }

    .call-action .btn-action {
        font-size: 14px;
    }

    .call-action .btn-action:hover {
        background-color: #fff;
        color: #000;
    }





    /* NOSSA EQUIPE */
    .equipe .container {
        flex-direction: column;
        gap: 80px;
    }

    .equipe .box-person .info .desc {
        line-height: 1.5;
        font-weight: 100;
        max-width: 280px;
        margin: auto;
    }





    /* CONTATO */
    .contato .container {
        flex-direction: column;
        align-items: start;
        gap: 40px;
    }

    .contato .info .icone {
        min-width: 50px;
        min-height: 50px;
    }
}