@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #151515;
    color: #fff;
}

body.no-scroll {
    overflow: hidden;
}

section {
    padding: 100px 0;
}

.interface {
    max-width: 1280px;
    padding: 0 6%;
    margin: 0 auto;
}

.title-section {
    font-family: "Mulish", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 80px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 40px;
    font-weight: 500;
}

.title-section span {
    font-family: "Oswald", sans-serif;
    display: block;
    font-size: 34px;
    font-weight: 900;
}





/* HEADER */
header {
    position: fixed;
    width: 100%;
    padding: 35px 0;
    z-index: 999;
    transition: .5s;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo a {
    color: #fff;
}

header .logo p {
    font-size: 1.2em;
    font-weight: 300;
}

header .logo p span {
    font-weight: bold;
}

header .menu-desktop nav a {
    position: relative;
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    text-transform: uppercase;
}

header .menu-desktop nav a::after {
    position: absolute;
    top: 100%;
    left: 0;
    content: "";
    background-color: #fff;
    height: 2px;
    width: 0;
    transition: .2s;
}

header .menu-desktop nav a:hover::after {
    width: 70%;
}

header .redes-sociais a {
    text-decoration: none;
}

header .redes-sociais .btn-social {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1em;
    margin: 0 10px;
    cursor: pointer;
}





/* HEADER ATIVO */
header.ativo {
    padding: 25px 0;
    background-color: #fff;
    background-image: none;
    color: #000;
    box-shadow: 0 0 20px #0000002a;
}

header.ativo .logo a {
    color: #000;
}

header.ativo .menu-desktop nav a {
    color: #000;
}

header.ativo .menu-desktop nav a::after {
    background-color: #000;
}

header.ativo .redes-sociais .btn-social {
    color: #000;
}

header.ativo .btn-menu div {
    background-color: #000;
}





/* MENU MOBILE */
header .menu-mobile {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100dvh;
    width: 250px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 20px #00000067;
    transition: .5s;
    z-index: 99999999999;
}

header .menu-mobile.active {
    left: 0;
}

header .menu-mobile .btn-close-menu {
    display: flex;
    justify-content: end;
    font-size: 4em;
    line-height: 0.5;
    color: #000;
    cursor: pointer;
}

header .menu-mobile nav {
    display: flex;
    flex-direction: column;
    margin: 30px 0 20px 0;
}

header .menu-mobile nav a {
    color: #000;
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid #000;
    font-size: 1.1em;
}

header .menu-mobile .social-media {
    display: flex;
    justify-content: center;
    gap: 15px;
}

header .menu-mobile .social-media a {
    text-decoration: none;
}

header .menu-mobile .social-media button {
    background: transparent;
    border: none;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}





/* BOTÃO MENU */
header .btn-menu {
    display: none;
    cursor: pointer;
}

header .btn-menu div {
    background-color: #fff;
    height: 3px;
    width: 30px;
    margin: 5px 0;
}





/* HOME */
.home {
    background: url('../imagens/banner-home.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    height: 100dvh;
}

.home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #10101073;
}

.home .interface {
    height: 100%;
    display: flex;
    align-items: center;
}

.home .txt-home {
    position: relative;
    z-index: 99;
    text-transform: uppercase;
}

.home .txt-home h1 {
    font-size: 4em;
    line-height: 75px;
    font-weight: 400;
}

.home .txt-home h1 span {
    display: block;
    font-weight: 900;
}

.home .txt-home h2 {
    font-family: "Milish", sans-serif;
    margin: 30px 0;
    font-size: 1.1em;
    letter-spacing: 3px;
}

.home .txt-home .btn-action {
    font-family: "Milish", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 1em;
    padding: 15px 25px;
    cursor: pointer;
    transition: .3s;
}

.home .txt-home .btn-action:hover {
    background-color: #fff;
    color: #000;
}





/* SOBRE NÓS */
.sobre .container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.sobre .box-sobre {
    text-align: center;
    width: 400px;
}

.sobre .box-sobre .icone {
    background-color: #232323;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 0 auto;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobre .box-sobre:hover .icone {
    background-color: #fff;
    color: #000;
}

.sobre .box-sobre h3 {
    font-size: 22px;
    margin: 15px 0;
}

.sobre .box-sobre p {
    font-family: "Mulish", sans-serif;
    font-size: 14px;
    font-size: 400;
    color: #999999;
}





/* NOSSAS AULAS */
.aulas {
    background-color: #fff;
    color: #000;
}

.box-aula {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px 0;
    box-shadow: 0 0 10px #00000036;
    color: #000;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
}

.box-aula:hover {
    background-color: #000;
    color: #fff;
}

.box-aula:hover .info .data,
.box-aula:hover .info .desc {
    color: #999;
}

.box-aula .capa {
    display: flex;
    width: 100px;
}

.box-aula img {
    width: 100%;
}

.box-aula .info .data {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #00000080;
    transition: .3s;
}

.box-aula .info .nome {
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0;
}

.box-aula .info .desc {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #00000080;
    transition: .3s;
}





/* SEÇÃO CALL TO ACTION */
.call-action {
    position: relative;
    background: url('../imagens/banner-call-action.jpg') no-repeat center fixed;
    background-size: cover;
    text-align: center;
}

.call-action .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b2;
}

.call-action .txt-call-action {
    position: relative;
    z-index: 99;
}

.call-action h2 {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 300;
}

.call-action h2 span {
    font-weight: 800;
}

.call-action p {
    font-family: "Mulish", sans-serif;
    margin: 30px auto;
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
    max-width: 800px;
}

.call-action p span {
    font-family: "Mulish", sans-serif;
    font-weight: 800;
}

.call-action .btn-action {
    font-family: "Mulish", sans-serif;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 15px 25px;
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

.call-action .btn-action:hover {
    background-color: #fff;
    color: #000;
}





/* CRONOGRAMA */
.cronograma {
    background-color: #fff;
    color: #000;
}

.cronograma .week-bar {
    display: flex;
    align-items: center;

    margin-bottom: 80px;

    font-family: "Mulish", sans-serif;
    background-color: #d1d1d1;
    color: #000;
}

.cronograma .week-bar .day {
    flex: auto;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    transition: .2s;
}

.cronograma .week-bar .day:hover,
.cronograma .week-bar .day.checked {
    background-color: #000;
    color: #fff;
}

.cronograma .week-bar .day.dom {
    cursor: not-allowed;
    opacity: 0.3;
}

.cronograma .week-bar .day.dom:hover {
    background: #d1d1d1;
    color: #000;
}





/* NOSSA EQUIPE */
.equipe .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
}

.equipe .box-person {
    min-width: 300px;
}

.equipe .box-person .foto {
    display: flex;
    border-radius: 50%;
    width: 150px;
    margin: 0 auto 30px auto;
    overflow: hidden;
}

.equipe .box-person .foto img {
    width: 100%;
}

.equipe .box-person .info {
    margin: auto;
}

.equipe .box-person .info .nome {
    font-family: "Mulish", sans-serif;  
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 10px;
}

.equipe .box-person .info .desc {
    font-family: "Mulish", sans-serif;  
    font-weight: 300;
}