@charset "UTF-8";

@media screen and (max-width: 900px) {
    header .menu-desktop, header .btn-contato {
        display: none;
    }

    header .btn-menumob {
        display: block;
    }


    /* HOME */
    .home .txt-home h1 {
        font-size: 2.6em;
        line-height: 45px;
    }
    
    .home .txt-home p {
        font-size: 16px;
    }
    
    .home .txt-home p span {
        display: inline;
    }
    
    .home .txt-home button {
        font-size: 18px;
    }



    /* VANTAGENS */
    .vantagens .item-vantagens {
        flex-direction: column !important;
    }
    
    .vantagens .item-vantagens .img-vantagens img {
        width: 100%;
    }
    
    .vantagens .item-vantagens .txt-vantagens p {
        margin-bottom: 30px;
        font-size: 18px;
    }



    /* CONTATO */ 
    .contato .txt-contato h3 {
        font-size: 2em;
        line-height: 40px;
    }

    .txt-contato, .icons-contato {
        display: block;
        width: 100%;
    }
    
    .contato .txt-contato p {
        font-size: 18px;
        margin-bottom: 30px;
    }
    
    .contato .icons-contato button {
        width: 100%;
    }
    
    .contato .icons-contato button p {
        font-size: 16px;
    }



    /* HOTÉIS */
    .hoteis h3 {
        font-size: 2em;
        line-height: 40px;
    }
    
    .hoteis p {
        font-size: 16px;
    }



    /* COMO FUNCIONA */
    .como-funciona .txt-funciona {
        position: static;
    }
    
    .txt-funciona, .instrucoes {
        display: block;
        width: 100%;
    }
    
    .como-funciona .txt-funciona h3 {
        font-size: 3em;
        line-height: 50px;
    }
    
    .instrucoes .instru-box {
        text-align: center;
        flex-direction: column;
    }



    /* RODAPÉ */       
    footer .middle-footer a {
        display: block;
        margin: 10px 0;
    }
    
    footer .bottom-footer p {
        font-size: 14px;
    }
}
