@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ESTILIZAÇÃO GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #E3E3E3;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 6%;
}

header .btn-contato button, .home button, .hoteis button {
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

header .btn-contato button:hover, .home button:hover, .hoteis button:hover {
    background-color: #fff;
    color: #000;
}


/* CABEÇALHO */

header {
    width: 100%;
    padding: 40px 0px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 999;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    max-width: 40px;
}


/* MENU DINÂMICO */

header .logo img.logo-preta {
    display: none;
}

header.rolar {
    background-color: #fff;
    padding: 20px 0px;
    box-shadow: 0 0 8px #0000007a;
}

header.rolar .menu-desktop nav ul li a {
    color: #000;
}

header.rolar .btn-contato button {
    border: 1px solid #000;
    color: #000;
}

header.rolar .btn-contato button:hover {
    background-color: #000;
    color: #fff;
}

header.rolar .logo-branca {
    display: none;
}

header.rolar .logo-preta {
    display: block !important;
}
/* -------------- */


header .menu-desktop nav ul {
    list-style: none;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0px 40px;
}

header .menu-desktop nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
    display: inline-block;
}

header .menu-desktop nav ul li a:hover {
    transform: scale(1.05);
}

header .btn-contato button {
    width: 140px;
    height: 50px;
}

header .btn-menumob {
    display: none;
    position: relative;
    z-index: 999;
    cursor: pointer;
}

header .btn-menumob div {
    height: 3px;
    background-color: #fff;
    margin: 10px 0;
    transition: .2s;
}

header .btn-menumob .line-menumob-1 {
    width: 30px;
}

header .btn-menumob .line-menumob-2 {
    width: 20px;
}

header.rolar .btn-menumob div {
    background-color: #000;
}

header .btn-menumob .line-menumob-1.ativo1 {
    transform: rotate(45deg) translate(30%);
    background-color: #fff;
}

header .btn-menumob .line-menumob-2.ativo2 {
    transform: rotate(-45deg) translate(30%);
    background-color: #fff;
    width: 30px;
}

/* MENU MOBILE */
header .menu-mobile {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transition: .5s;
}

header .menu-mobile nav {
    width: 100%;
}

header .menu-mobile nav ul {
    list-style-type: none;
}

header .menu-mobile nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    padding: 15px 0;
    width: 100%;
    transition: .5s;
}

header .menu-mobile nav ul li a:hover {
    box-shadow: 0 0 10px #ffffffa8;
    background-color: #fff;
    color: #000;
}

header .menu-mobile.abrir {
    width: 100%;
    height: 100vh;
}

body.no-overflow {
    overflow: hidden;
}


/* SEÇÃO HOME */

section.home {
    height: 98vh;
    background: #000 url("../imagens/bg-inicio-site.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
}

.home .interface {
    height: 100%;
    display: flex;
    align-items: center;
}

.home .txt-home h1 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.home .txt-home h1 span {
    display: block;
    font-weight: 800;
}

.home .txt-home p {
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 300;
}

.home .txt-home p span {
    display: block;
}

.home .txt-home button {
    width: 220px;
    height: 60px;
    font-size: 20px;
}


/* VANTAGENS */

section.vantagens {
    padding: 80px 0px;
}

.vantagens .item-vantagens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.vantagens .item-vantagens .img-vantagens img {
    max-width: 480px;
}

.vantagens .item-vantagens .txt-vantagens h3 {
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
}

.item-vantagens .txt-vantagens h3 span {
    font-weight: 300;
}


/* CONTATO */

section.contato {
    background-color: #fff;
    padding: 80px 0px;
}

.txt-contato, .icons-contato {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.contato .txt-contato h3 {
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contato .txt-contato h3 span {
    display: block;
    font-weight: 700;
}

.contato .txt-contato p {
    font-size: 18px;
}

.contato .icons-contato a {
    text-decoration: none;
}

.contato .icons-contato button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    background: transparent;
    border: 1px solid #000;
    cursor: pointer;
    transition: .5s;
}

.contato .icons-contato button:hover {
    background-color: #000;
}

.contato .icons-contato button i {
    font-size: 22px;
}

.contato .icons-contato button:hover i, 
.contato .icons-contato button:hover p {
    color: #fff;
}


/* HOTÉIS */

section.hoteis {
    position: relative;
    height: 600px;
    background: #e3e3e3 url("../imagens/hotel-bg.jpg") no-repeat center;
    background-size: no-repeat;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}

.hoteis > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 1;
}

.hoteis > .interface {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    position: relative;
}

.hoteis h3 {
    font-size: 3em;
    line-height: 50px;
    font-weight: 200;
}

.hoteis h3 span {
    display: block;
    font-weight: 600;
}

.hoteis p {
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 300;
}

.hoteis button {
    width: 220px;
    height: 60px;
}


/* COMO FUNCIONA */

section.como-funciona {
    padding: 80px 0px;
}

.como-funciona .txt-funciona {
    position: sticky;
    top: 50%;
    padding-bottom: 35px;
}

.txt-funciona, .instrucoes {
    display: inline-block;
    width: 50%;
    margin-left: -4px;
    vertical-align: top;
}

.como-funciona .txt-funciona h3 {
    font-size: 4em;
    line-height: 60px;
    font-weight: 300;
}

.como-funciona .txt-funciona h3 span {
    display: block;
    font-weight: 700;
}

.instrucoes .instru-box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    padding: 20px;
    border: 2px solid #000;
}

.instrucoes .instru-box img {
    max-width: 100px;
}

.instrucoes .instru-box h4 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
}

.instrucoes .instru-box h4 span {
    font-weight: 300;
}

.instrucoes .instru-box p {
    line-height: 20px;
}


/* RODAPÉ */

footer {
    background-color: #000;
    width: 100%;
    text-align: center;
    padding: 50px 0px;
}

footer .top-footer a {
    display: inline-block;
    text-decoration: none;
}

footer .top-footer button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin: 0px 10px;
    transition: .5s;
}

footer .top-footer button:hover {
    background-color: #fff;
    color: #000
}

footer .middle-footer {
    margin: 30px 0px;
}

footer .middle-footer a {
    color: #fff;
    margin: 0px 20px;
}

footer .middle-footer a:hover {
    text-decoration: none;
}

footer .bottom-footer {
    border-top: 1px solid #fff;
    padding-top: 30px;
}

footer .bottom-footer p {
    color: #fff;
}